dataset/dataset-1/*
dataset/dataset-2/*
dataset/dataset-3/*
.streamlit
logs/*

backend/__pycache__/*
backend/venv/*
backend/backend.log

frontend/node_modules/*
frontend/build/*
frontend/.env

logs/*

sample_pdf_maker.py

runtime.txt

/artifacts/*

